.jumbotron{
  background-image: url(jumbo.png);
  background-size: 100%

}
#btn{

padding-left: 30px;
}
#nav {
  max-height: 20px;
}
.project{
  padding: 30px;
}
.nav-link:active{
  text-decoration: none;
}

a:
a:visited{
  color: rgb(88, 88, 88);
}
    #lol{

      min-height: 1000px;
    }
    #Port{

      min-height: 1000px;
    }

    body {

  position: relative;
   }
#me{
  font-size: 30px;
}

#skill{
  padding: 27px;
}
#skillDesc{

  font-size: 22px;

}
