.jumbotron{
  background-image: url(jumbo.png);
  background-size: 100%
}

#btn{
padding-left: 30px;
}
.project{
  padding: 10px;

}
#cert{
  padding-top: 10px
}

#actualskill{
  display: none;
}
#icon{
  color: white;
  font-size: 69px;
  text-align: center;
  padding-top: 18px;
  background-color: #5bc0de;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  transition: border .3s ease-in-out, background .3s ease-in-out,  color .2s ease-in-out;
}

#icon:hover{
  color: black;
  padding-top: 0px;
  font-size: 69px;
  text-align: center;
  padding-top: 15px;
  background: white;
 
  border-radius: 50%;

  border: 4px solid #5bc0de;
  
  transition: border .3s ease-in-out, background .3s ease-in-out, padding-top .3s ease-in-out,  color .5s ease-in-out;
}






@media all and (min-width: 960px) {
    .nav-link{
      font-size: 22px;
    }
    #header{
      color: white;

      margin-top: 50px;
      font-size: 99px;

    }
    #me{
        font-size:33px;
    }
    #skillDesc{
      font-size: 28px;
    }
    h1{
      font-size: 40px;
    }

    #skill{
      padding: 27px;
    }
    .projdescription{
      font-size: 28px;
    }
    .projecttitle{

      font-size: 32px;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    #header{
      margin-top: 35px;
      color: white;


      font-size:49px;
    }
    #me{
        font-size: 20px;
    }
    #skillDesc{
      font-size: 22px;
    }
    h1{
      font-size: 30px;
    }
    #skill{
      padding: 10px;
    }
    .projdescription{
      font-size: 20px;
    }
    .projecttitle{
      font-size: 26px;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
  #aboutme{
    padding-top: 14px;
  }
  #icon{
    font-size: 50px;
    padding-top: 15px;
    height: 80px;
    width: 80px;
  }
  #icon:hover{
    font-size: 50px;
    padding-top: 12px;
    height: 80px;
    width: 80px;
  }
  #header{
    padding-top: 55px;
    color: white;

    font-size:38px;
  }
    #me{
        font-size: 18px;
    }
    .projdescription {
      font-size: 16px;
    }
    .projecttitle{
      font-size: 20px;
    }
    #skillDesc{
      font-size: 14px;
    }
    h1{
      font-size: 20px;
    }
    .my-headings{
      font-size: 37px
    }
    #skill{
      padding: 3px;
    }


}
